<% include partials/header %>

<!-- Extra Stylesheets -->
<link rel="stylesheet" href="/styles/sections.css" type="text/css"></link>
<!-- Extra Scripts -->
<script src="/scripts/pages/about.js" defer="defer" type="text/javascript"></script>

<% include partials/navbar_ld %>

<!-- content -->
<div class="page_content">
  <div class="team_section1">
    <div class="container">
      <h1 class="display-3">Our Team</h1>
      <p class="team-text">
        We are a digital tool that delivers curated learning plans based on personality types. Our curated content and interactive tools are focused on supporting young people to improve their self-awareness and well-being.
      </p>
      <a href="/register"><button type="button" class="btn btn-lg btn-warning"><strong>Sign Up Now</strong></button></a>
    </div>
  </div>

  <object class="crossbar" data="/assets/crossbar0.svg" type="image/svg+xml">crossbar</object>

  <div class="product_section2">
    <div class="container">
      <div class="row">
        <div class="pic1 col-md-5">
          <object class="pic d-inline-block align-top" data="/assets/twobillion.png" type="image/png">Two Billion</object>
        </div>
        <div class="section_text col text-center">
          <h1 class="display-5">1.8 Billion Young People Globally</h1>
          <object class="divider" data="/assets/divider.svg" type="image/svg+xml">text divider</object>
          <p>This is the largest cohort in human history, with 1 in 4 expected to need well-being help at some point in their life.</p>
        </div>
      </div>
    </div>
  </div>

  <div class="product_section3">
    <div class="container">
      <div class="row">
        <div class="section_text col text-center">
          <h1 class="display-5">Creating Meaningful Futures</h1>
          <object class="divider" data="/assets/divider.svg" type="image/svg+xml">text divider</object>
          <p>Bringing well-being and life skills education to young people with personalised learning journeys.</p>
        </div>
        <div class="pic1 col-md-5">
          <object class="pic d-inline-block align-top" data="/assets/pic1.png" type="image/png">Happy People</object>
        </div>
      </div>
    </div>
  </div>

  <object class="crossbar" data="/assets/crossbar1.svg" type="image/svg+xml">crossbar</object>

  <!-- Social Links -->
  <div class="social_section">
    <div class="container">
      <div class="row">
        <div class="section_text col text-center">
          <h1 class="display-5">Follow us on social media</h1>
          <object class="divider" data="/assets/divider.svg" type="image/svg+xml">text divider</object>
        </div>
      </div>
      <div class="row">
        <div class="col-md-3"></div>
        <div class="col text-center">
          <a class="nav-link" href="/"><button type="button" class="btn btn-lg social_button social1"><i class="fab fa-facebook-f"></i></button></a>
        </div>
        <div class="col text-center">
          <a class="nav-link" href="/"><button type="button" class="btn btn-lg social_button social2"><i class="fab fa-instagram"></i></button></a>
        </div>
        <div class="col text-center">
          <a class="nav-link" href="/"><button type="button" class="btn btn-lg social_button social3"><i class="fab fa-twitter"></i></button></a>
        </div>
        <div class="col-md-3"></div>
      </div>
    </div>
  </div>
</div>

<% include partials/footer %>
