<% include partials/header %>

<!-- Extra Stylesheets -->
<link rel="stylesheet" href="/styles/pass_checks.css" type="text/css"></link>
<!-- Extra Scripts -->
<script src="/scripts/checks.js" defer="defer" type="text/javascript"></script>
<script src="/scripts/pages/account.js" defer="defer" type="text/javascript"></script>

<% include partials/navbar_fn %>

<div class="page_content">
  <!-- User Information -->
  <div class="container">

    <div class="form_group">
      <input type="text" class="form-control new_username" placeholder="New Username"></input>
    </div>
    <div class="form_group">
      <input type="email" class="form-control new_email" placeholder="New Email"></input>
    </div>
    <div class="form_group">
      <input type="password" id="pass_to_check" class="form-control new_password" placeholder="New Password"></input>
    </div>
    <div class="pass_checks row text-center">
      <div class="col">
        <p class="small form-text text-muted 10long">10 characters long</p>
      </div>
      <div class="col">
        <p class="small form-text text-muted 1Lower">1 lowercase letter</p>
      </div>
      <div class="col">
        <p class="small form-text text-muted 1Upper">1 uppercase letter</p>
      </div>
      <div class="col">
        <p class="small form-text text-muted 1Number">1 number</p>
      </div>
      <div class="col">
        <p class="small form-text text-muted 1Special">1 special character</p>
      </div>
    </div>
    <div class="form_group">
      <input type="password" class="form-control password" placeholder="Old Password"></input>
    </div>
    <button class="btn btn-lg btn-warning submit_acc_changes">Submit</button>

    <button type="button" class="btn btn-sm btn-link delete_init">Delete Account</button>
    <div class="jumbotron confirm_delete hidden">
      <h1 class="display-6">Are you sure?</h1>
      <p class="lead">If you delete your account, you'll lose access to our curated selection of useful content, and all your journal entries will be removed too!</p>
      <hr class="my-4"></hr>
      <p>We'll be sad to see you go, but if you really want to, please enter your password and click the button below to delete your account.</p>

      <div class="form-group">
        <input type="password" class="form-control del_password" placeholder="Password"></input>
      </div>
      <button type="button" class="btn btn-danger btn-lg final_delete_button">Delete My Account</button>

    </div>
  </div>
</div>

<% include partials/footer %>
