<% include partials/header %>

<!-- Extra Stylesheets -->
<link rel="stylesheet" href="/styles/pass_checks.css" type="text/css"></link>
<!-- Extra Scripts -->
<script src="/scripts/checks.js" defer="defer" type="text/javascript"></script>
<script src="/scripts/pages/contact.js" defer="defer" type="text/javascript"></script>

<% include partials/navbar_ld %>

<div class="page_content">
  <div class="container">

    <h1 class="display-4">Contact the Merudite team. <br> </br> We will respond to your message as soon as possible.</h1>

    <form action="/contact" method="POST">
      <div class="form_group">
        <input type="text" name="name" class="form-control" placeholder="Name"></input>
      </div>
      <div class="form_group">
        <input type="email" name="email" class="form-control" placeholder="Email"></input>
      </div>
      <div class="form_group">
        <input type="text" name="subject" class="form-control" placeholder="Subject"></input>
      </div>
      <div class="form_group">
        <input type="textarea" name="message" class="form-control" placeholder="Message"></input>
      </div>

      <button type="submit" class="btn btn-lg btn-warning login">Submit</button>
    </form>

  </div>
</div>


<% include partials/footer %>
