<% include partials/header %>

<!-- Extra Stylesheets -->
<link rel="stylesheet" href="/styles/journey.css" type="text/css"></link>
<!-- Extra Scripts -->
<script src="/scripts/pages/content.js" defer="defer" type="text/javascript"></script>


<% include partials/navbar_fn %>

<div class="page_content">
  <!-- Paths -->
  <div class="container">
    <div class="learning_journey text-center">
      <h1 class="journey_title">Your Learning Journey</h1>

      <div class="content_container">
        <div class="row">

          <div class="col-lg-8 col-xl-7 content">
            <iframe class="video_content" src="https://www.youtube.com/embed/NpEaa2P7qZI" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen="true"></iframe>
          </div>

          <div class="text-center col" >
            <h4 class="prompt">Exemplar Prompt</h4>
            <form class="journal_entry">
              <div class="form-group">
                <textarea class="form-control content_thoughts" placeholder="I think that..."></textarea>
              </div>
              <div class="form-group">
                <button type="button" class="btn btn-warning save_to_journal">Save to Journal</button>
              </div>
            </form>
          </div>

        </div>
      </div>
    </div>
  </div>
</div>

<% include partials/footer %>
