<% include partials/header %>

<!-- Extra Stylesheets -->
<link rel="stylesheet" href="/styles/sections.css" type="text/css"></link>
<!-- Extra Scripts -->
<script src="/scripts/pages/index.js" defer="defer" type="text/javascript"></script>

<% include partials/navbar_ld %>

<div class="page_content">

  <% if(logout_success && logout_success.length > 0) { %>
    <div class="container">
      <div class="alert alert-success" role="alert">
        <%= logout_success %>
      </div>
    </div>
  <% } %>

  <!-- Intro and picture -->
  <div class="section1">
    <div class="container">
      <div class="row">
        <div class="section_text col text-center">
          <h1 class="display-3">Creating Meaningful Futures</h1>
          <object class="divider" data="/assets/divider.svg" type="image/svg+xml">text divider</object>
          <p>Bringing well-being and life skills education to young people with personalised learning journeys.</p>
          <a class="" href="/register"><button type="button" class="btn btn-lg btn-warning">Register Now</button></a>
        </div>
        <div class="pic1 col-md-5">
          <object class="pic d-inline-block align-top" data="/assets/pic1.png" type="image/png">Happy People</object>
        </div>
      </div>
    </div>
  </div>

  <object class="crossbar" data="/assets/crossbar2.svg" type="image/svg+xml">crossbar</object>

  <!-- Video -->
  <div class="section2">
    <div class="container">
      <div class="row">
        <div class="section_text col text-center">
          <h1 class="display-5">Self Awareness as a starting point</h1>
          <object class="divider" data="/assets/divider.svg" type="image/svg+xml">text divider</object>
          <p>By first understanding who we are as a person, we can find the best ways to live a meaningful life</p>
        </div>
      </div>
      <div class="row">
        <div class="col text-center">
          <iframe width="80%" height="450" src="https://www.youtube.com/embed/NpEaa2P7qZI" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen="true"></iframe>
        </div>
      </div>
    </div>
  </div>

  <object class="crossbar" data="/assets/crossbar0.svg" type="image/svg+xml">crossbar</object>

  <div class="section3">
    <div class="container">
      <div class="row">
        <div class="pic1 col-md-5">
          <object class="pic d-inline-block align-top" data="/assets/twobillion.png" type="image/png">Two Billion</object>
        </div>
        <div class="section_text col text-center">
          <h1 class="display-5">1.8 Billion Young People Globally</h1>
          <object class="divider" data="/assets/divider.svg" type="image/svg+xml">text divider</object>
          <p>This is the largest cohort in human history, with 1 in 4 expected to need well-being help at some point in their life.</p>
        </div>
      </div>
    </div>
  </div>

  <div class="section4">
    <div class="container">
      <div class="row">
        <div class="section_text col text-center">
          <h1 class="display-5">Supporting Forward Movement</h1>
          <object class="divider" data="/assets/divider.svg" type="image/svg+xml">text divider</object>
          <p>We empower young people to move forward with their lives in a meaningful way.</p>
        </div>
        <div class="pic1 col-md-5">
          <object class="pic d-inline-block align-top" data="/assets/movingforward.png" type="image/png">Happy People</object>
        </div>
      </div>
    </div>
  </div>

  <div class="section5">
    <div class="container">
      <div class="row">
        <div class="pic1 col-md-5">
          <object class="pic d-inline-block align-top" data="/assets/mountains.png" type="image/png">Two Billion</object>
        </div>
        <div class="section_text col text-center">
          <h1 class="display-5">Begin Your Journey</h1>
          <object class="divider" data="/assets/divider.svg" type="image/svg+xml">text divider</object>
          <p>With our personalised learning plans you'll be well on the way to a more meaningful life.</p>
        </div>
      </div>
    </div>
  </div>

  <object class="crossbar" data="/assets/crossbar1.svg" type="image/svg+xml">crossbar</object>

  <!-- Social Links -->
  <div class="social_section">
    <div class="container">
      <div class="row">
        <div class="section_text col text-center">
          <h1 class="display-5">Follow us on social media</h1>
          <object class="divider" data="/assets/divider.svg" type="image/svg+xml">text divider</object>
        </div>
      </div>
      <div class="row">
        <div class="col-md-3"></div>
        <div class="col text-center">
          <a class="nav-link" href="/"><button type="button" class="btn btn-lg social_button social1"><i class="fab fa-facebook-f"></i></button></a>
        </div>
        <div class="col text-center">
          <a class="nav-link" href="/"><button type="button" class="btn btn-lg social_button social2"><i class="fab fa-instagram"></i></button></a>
        </div>
        <div class="col text-center">
          <a class="nav-link" href="/"><button type="button" class="btn btn-lg social_button social3"><i class="fab fa-twitter"></i></button></a>
        </div>
        <div class="col-md-3"></div>
      </div>
    </div>
  </div>
</div>

<% include partials/footer %>
