<% include partials/header %>

<!-- Extra Stylesheets -->
<link rel="stylesheet" href="/styles/journal.css" type="text/css"></link>
<!-- Extra Scripts -->
<script src="/scripts/pages/journal.js" defer="defer" type="text/javascript"></script>

<% include partials/navbar_fn %>

<div class="page_content">
  <!-- User Journal -->
  <div class="container journal_container">

    <% if(journal_entries && journal_entries.length <= 0) { %>
      <h1>Nothing here yet! Start your journey to fill out your journal.</h1>
    <% } %>

    <% for(var i = 0; i < journal_entries.length; i++) { %>

      <div class="row journal_entry">
        <div class="col col-md-3">
          <object class="journal_item_pic" data="/assets/placeholder.svg" type="image/svg+xml">Journal Item 1</object>
        </div>
        <div class="col">
          <h5><%= journal_entries[i].prompt %></h5>
          <p><%= journal_entries[i].entry %></p>
          <a href="/content/<%= journal_entries[i].contentid %>"><button type="button" class="btn btn-warning">View</button></a>
        </div>
      </div>

    <% } %>

  </div>
</div>

<% include partials/footer %>
