<% include partials/header %>

<!-- Extra Stylesheets -->
<link rel="stylesheet" href="/styles/pass_checks.css" type="text/css"></link>
<!-- Extra Scripts -->
<script src="/scripts/checks.js" defer="defer" type="text/javascript"></script>
<script src="/scripts/reg.js" defer="defer" type="text/javascript"></script>

<% include partials/navbar_ld %>

<div class="page_content">
  <div class="container">
    <h1 class="display-4">Resume Your Journey</h1>
    <form>
      <div class="form_group">
        <input type="email" class="form-control" name="registerEmail" aria-describedby="emailHelp" placeholder="Email"></input>
      </div>
      <div class="form_group">
        <input type="password" class="form-control" name="registerPassword" aria-describedby="passHelp" placeholder="Password"></input>
      </div>
      <div class="row">
        <div class="col-2">
          <div class="form-group form-check">
            <input type="checkbox" class="form-check-input" id="remember_me"></input>
            <label class="form-check-label" for="remember_me">Remember Me</label>
          </div>
        </div>
        <div class="col">
          <a href="#">Forgot Password?</a>
        </div>
      </div>
      <div class="form-group regOrLogBtns">
        <button type="button" class="btn btn-lg btn-warning login">Log In</button>
      </div>
    </form>
  </div>
</div>

<% include partials/footer %>
