<% include partials/header %>

<!-- Extra Stylesheets -->
<link rel="stylesheet" href="/styles/journey.css" type="text/css"></link>
<!-- Extra Scripts -->
<script src="/scripts/pages/content.js" defer="defer" type="text/javascript"></script>


<% include partials/navbar_ld %>

<div class="page_content">
  <!-- Paths -->
  <div class="container text-center">
    <h1 class="display-3">Nothing here...</h1>
    <h3>Maybe you need to <a href="/login">Log In</a> or <a href="/register">Register</a>?</h3>
  </div>
</div>

<% include partials/footer %>
