<% include partials/header %>

<!-- Extra Stylesheets -->
<!-- Extra Scripts -->
<script src="/scripts/pages/privacy.js" defer="defer" type="text/javascript"></script>

<% include partials/navbar_ld %>

<div class="page_content">
  <div class="container">
    <h1>Merudite Privacy Policy</h1>
    <h3>What We Collect</h3>
    <h4>Information You Provide to Us:</h4>
    <p>We collect information you provide to us directly when you use the Services. This includes: </p>

    <h5>Account information:</h5>
    <p>
      To create an account, you must provide an email, username and password.
      Your username is public, and it doesn’t have to be related to your real name.
      You may also provide an email address. We also store your user account preferences and settings.
    </p>

    <h5>Content you submit:</h5>
    <p>
      We collect the content you submit to the Services.
      This includes your posts and comments including saved drafts, your messages with other users (e.g., private messages, chats, and modmail), and your reports and other communications with moderators and with us.
      Your content may include text, links, images, gifs, and videos.
    </p>

    <h5>Actions you take:</h5>
    <p>
      We collect information about the actions you take when using the Services.
      This includes your interactions with content, like voting, saving, hiding, and reporting.
      It also includes your interactions with other users, such as following, friending, and blocking.
    </p>

    <h5>Other information:</h5>
    <p>
      You may choose to provide other information directly to us.
      For example, we may collect information when you fill out a form, participate in Merudite-sponsored activities or promotions, apply for a job, request customer support or otherwise communicate with us.
    </p>
  </div>
</div>

<% include partials/footer %>
