<% include partials/header %>

<!-- Extra Stylesheets -->
<link rel="stylesheet" href="/styles/sections.css" type="text/css"></link>
<!-- Extra Scripts -->
<script src="/scripts/pages/index.js" defer="defer" type="text/javascript"></script>

<% include partials/navbar_ld %>

<div class="page_content">

  <h1> PRIVACY PAGE! </h1>
<!--
  What We Collect
Information You Provide to Us
We collect information you provide to us directly when you use the Services. This includes:

Account information.  To create an account, you must provide a username and password. Your username is public, and it doesn’t have to be related to your real name. You may also provide an email address. We also store your user account preferences and settings.

Content you submit.  We collect the content you submit to the Services. This includes your posts and comments including saved drafts, your messages with other users (e.g., private messages, chats, and modmail), and your reports and other communications with moderators and with us. Your content may include text, links, images, gifs, and videos.

Actions you take.  We collect information about the actions you take when using the Services. This includes your interactions with content, like voting, saving, hiding, and reporting. It also includes your interactions with other users, such as following, friending, and blocking. We collect your interactions with communities, like your subscriptions or moderator status.

Transactional information.  If you purchase products or services from us (e.g., Reddit Gold or Reddit Ads) or sign up as a potential advertiser on Reddit Ads, we will collect certain information from you, including your name, address, email address, and information about the product or service you are purchasing. Payments are processed by third-party payment processors (e.g., Stripe and PayPal), so please refer to the applicable processor’s terms and privacy policy for more information about how payment information is processed and stored.

Other information.  You may choose to provide other information directly to us. For example, we may collect information when you fill out a form, participate in Reddit-sponsored activities or promotions, apply for a job, request customer support or otherwise communicate with us.


 -->




  <!-- Intro and picture -->
  <div class="section1">
    <div class="container">
      <div class="row">
        <div class="section_text col text-center">
          <h1 class="display-3">Creating Meaningful Futures</h1>
          <object class="divider" data="/assets/divider.svg" type="image/svg+xml">text divider</object>
          <p>Bringing well-being and life skills education to young people with personalised learning journeys.</p>
          <a class="" href="/register"><button type="button" class="btn btn-lg btn-warning">Register Now</button></a>
        </div>
        <div class="pic1 col-md-5">
          <object class="pic d-inline-block align-top" data="/assets/pic1.png" type="image/png">Happy People</object>
        </div>
      </div>
    </div>
  </div>

  <object class="crossbar" data="/assets/crossbar2.svg" type="image/svg+xml">crossbar</object>

  <!-- Video -->
  <div class="section2">
    <div class="container">
      <div class="row">
        <div class="section_text col text-center">
          <h1 class="display-5">Self Awareness as a starting point</h1>
          <object class="divider" data="/assets/divider.svg" type="image/svg+xml">text divider</object>
          <p>By first understanding who we are as a person, we can find the best ways to live a meaningful life</p>
        </div>
      </div>
      <div class="row">
        <div class="col text-center">
          <iframe width="80%" height="450" src="https://www.youtube.com/embed/NpEaa2P7qZI" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen="true"></iframe>
        </div>
      </div>
    </div>
  </div>

  <object class="crossbar" data="/assets/crossbar0.svg" type="image/svg+xml">crossbar</object>

  <div class="section3">
    <div class="container">
      <div class="row">
        <div class="pic1 col-md-5">
          <object class="pic d-inline-block align-top" data="/assets/twobillion.png" type="image/png">Two Billion</object>
        </div>
        <div class="section_text col text-center">
          <h1 class="display-5">1.8 Billion Young People Globally</h1>
          <object class="divider" data="/assets/divider.svg" type="image/svg+xml">text divider</object>
          <p>This is the largest cohort in human history, with 1 in 4 expected to need well-being help at some point in their life.</p>
        </div>
      </div>
    </div>
  </div>

  <div class="section4">
    <div class="container">
      <div class="row">
        <div class="section_text col text-center">
          <h1 class="display-5">Supporting Forward Movement</h1>
          <object class="divider" data="/assets/divider.svg" type="image/svg+xml">text divider</object>
          <p>We empower young people to move forward with their lives in a meaningful way.</p>
        </div>
        <div class="pic1 col-md-5">
          <object class="pic d-inline-block align-top" data="/assets/movingforward.png" type="image/png">Happy People</object>
        </div>
      </div>
    </div>
  </div>

  <div class="section5">
    <div class="container">
      <div class="row">
        <div class="pic1 col-md-5">
          <object class="pic d-inline-block align-top" data="/assets/mountains.png" type="image/png">Two Billion</object>
        </div>
        <div class="section_text col text-center">
          <h1 class="display-5">Begin Your Journey</h1>
          <object class="divider" data="/assets/divider.svg" type="image/svg+xml">text divider</object>
          <p>With our personalised learning plans you'll be well on the way to a more meaningful life.</p>
        </div>
      </div>
    </div>
  </div>

  <object class="crossbar" data="/assets/crossbar1.svg" type="image/svg+xml">crossbar</object>

  <!-- Social Links -->
  <div class="social_section">
    <div class="container">
      <div class="row">
        <div class="section_text col text-center">
          <h1 class="display-5">Follow us on social media</h1>
          <object class="divider" data="/assets/divider.svg" type="image/svg+xml">text divider</object>
        </div>
      </div>
      <div class="row">
        <div class="col-md-3"></div>
        <div class="col text-center">
          <a class="nav-link" href="/"><button type="button" class="btn btn-lg social_button social1"><i class="fab fa-facebook-f"></i></button></a>
        </div>
        <div class="col text-center">
          <a class="nav-link" href="/"><button type="button" class="btn btn-lg social_button social2"><i class="fab fa-instagram"></i></button></a>
        </div>
        <div class="col text-center">
          <a class="nav-link" href="/"><button type="button" class="btn btn-lg social_button social3"><i class="fab fa-twitter"></i></button></a>
        </div>
        <div class="col-md-3"></div>
      </div>
    </div>
  </div>
</div>

<% include partials/footer %>
