<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" lang="en-GB" xml:lang="en-GB">
  <head>

    <meta charset="utf-8"></meta>
    <meta name="viewport" content="width=device-width, initial-scale=1"></meta>
    <meta name="description" content="Engage content intelligently. Become better."></meta>
    <title>Merudite</title>

    <!-- STYLESHEETS -->
    <!-- Bootstrap -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous"></link>
    <!-- Font Awesome -->
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.1.1/css/all.css" integrity="sha384-O8whS3fhG2OnA5Kas0Y9l3cfpmYjapjI0E4theH4iuMD+pLhbf6JI0jIMfYcK3yZ" crossorigin="anonymous"></link>
    <link rel="stylesheet" href="/styles/general_style.css" type="text/css"></link>
    <link rel="stylesheet" href="/styles/interface.css" type="text/css"></link>
    <link rel="stylesheet" href="/styles/sections.css" type="text/css"></link>

    <!-- SCRIPTS -->
    <!-- JQuery and Bootstrap -->
    <script defer="defer" src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script defer="defer" src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script defer="defer" src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
    <script src="/scripts/load.js" defer="defer" type="text/javascript"></script>
  </head>
  <!-- About page -->
  <body class="hidden">
    <header>
      <!-- Navbar -->
      <nav class="navbar navbar-expand-md navbar-light">
        <a class="navbar-brand" href="/">
          <object class="logo" data="/assets/logowithtext.svg" type="image/svg+xml">Merudite Logo</object>
        </a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNavDropdown">
          <ul class="navbar-nav ml-auto row">
            <li class="nav-item  align-self-center">
              <a class="nav-link" href="/">Home</a>
            </li>
            <li class="nav-item active align-self-center">
              <a class="nav-link" href="/product.html">Product</a>
            </li>
            <li class="nav-item align-self-center">
              <a class="nav-link" href="/about.html">Team</a>
            </li>
            <li class="nav-item align-self-center">
              <a class="nav-link" href="/login.html">Log In</a>
            </li>
            <li class="nav-item align-self-center">
              <a class="nav-link" href="/register.html"><button type="button" class="btn btn-warning">Register</button></a>
            </li>
          </ul>
        </div>
      </nav>
    </header>

    <div class="page_content">
      <!-- content -->
      <div class="product_section1">
        <div class="container">
          <h1 class="display-3">Our Product</h1>
          <p class="team-text">
            We are a digital tool that delivers curated learning plans based on personality types. Our curated content and interactive tools are focused on supporting young people to improve their self-awareness and well-being.
          </p>
          <a href="/register.html"><button type="button" class="btn btn-lg btn-warning"><strong>Sign Up Now</strong></button></a>
        </div>
      </div>

      <object class="crossbar" data="/assets/crossbar0.svg" type="image/svg+xml">crossbar</object>

      <div class="product_section2">
        <div class="container">
          <div class="row">
            <div class="pic1 col-md-5">
              <object class="pic d-inline-block align-top" data="/assets/twobillion.png" type="image/png">Two Billion</object>
            </div>
            <div class="section_text col text-center">
              <h1 class="display-5">1.8 Billion Young People Globally</h1>
              <object class="divider" data="/assets/divider.svg" type="image/svg+xml">text divider</object>
              <p>This is the largest cohort in human history, with 1 in 4 expected to need well-being help at some point in their life.</p>
            </div>
          </div>
        </div>
      </div>

      <div class="product_section3">
        <div class="container">
          <div class="row">
            <div class="section_text col text-center">
              <h1 class="display-5">Creating Meaningful Futures</h1>
              <object class="divider" data="/assets/divider.svg" type="image/svg+xml">text divider</object>
              <p>Bringing well-being and life skills education to young people with personalised learning journeys.</p>
            </div>
            <div class="pic1 col-md-5">
              <object class="pic d-inline-block align-top" data="/assets/pic1.png" type="image/png">Happy People</object>
            </div>
          </div>
        </div>
      </div>

      <object class="crossbar" data="/assets/crossbar1.svg" type="image/svg+xml">crossbar</object>

      <!-- Social Links -->
      <div class="social_section">
        <div class="container">
          <div class="row">
            <div class="section_text col text-center">
              <h1 class="display-5">Follow us on social media</h1>
              <object class="divider" data="/assets/divider.svg" type="image/svg+xml">text divider</object>
            </div>
          </div>
          <div class="row">
            <div class="col-md-3"></div>
            <div class="col text-center">
              <a class="nav-link" href="/"><button type="button" class="btn btn-lg social_button social1"><i class="fab fa-facebook-f"></i></button></a>
            </div>
            <div class="col text-center">
              <a class="nav-link" href="/"><button type="button" class="btn btn-lg social_button social2"><i class="fab fa-instagram"></i></button></a>
            </div>
            <div class="col text-center">
              <a class="nav-link" href="/"><button type="button" class="btn btn-lg social_button social3"><i class="fab fa-twitter"></i></button></a>
            </div>
            <div class="col-md-3"></div>
          </div>
        </div>
      </div>
    </div>

    <!-- Footer -->
    <footer>
      <div class="footer">

        <object class="footer_bg" data="/assets/footer.svg" type="image/svg+xml">Footer Design</object>
        <div class="footer_content container">
          <div class="row">
            <div class="col-md-4">
              <a class="footer_link" href="/"><p>Home</p></a>
              <a class="footer_link" href="/product.html"><p>Product</p></a>
              <a class="footer_link" href="/about.html"><p>Team</p></a>
              <a class="footer_link" href="/contact/html"><p>Contact</p></a>
              <a class="footer_link" href="/privacy.html"><p>Privacy Policy</p></a>
              <a class="footer_link" href="/cookies.html"><p>Cookies</p></a>
              <object class="divider" data="/assets/divider.svg" type="image/svg+xml">text divider</object>
              <p><small>© Merudite 2018</small></p>
            </div>
            <div class="col">
              <h1 class="display-5">Want to know more?</h1>
              <object class="divider" data="/assets/divider.svg" type="image/svg+xml">text divider</object>
              <p>Sign up to our mailing list to receive a free well-being video and updates on what we're doing.</p>
              <form>
                <div class="form-group">
                  <input type="text" class="form-control" id="mailing_name" placeholder="Name"></input>
                </div>
                <div class="form-group">
                  <input type="email" class="form-control" id="mailing_email" aria-describedby="emailHelp" placeholder="Email"></input>
                </div>
                <div class="form-group form-check">
                  <input type="checkbox" class="form-check-input" id="data_consent"></input>
                  <label class="form-check-label" for="data_consent">I consent to receiving occasional emails</label>
                </div>
                <button type="submit" class="btn btn-warning">Submit</button>
              </form>
            </div>
          </div>
        </div>
      </div>
    </footer>

  </body>
  </html>
