</head>
<!-- Landing Page -->
<body class="hidden">
  <!-- Header -->
  <header>
    <!-- Navbar -->
    <nav class="navbar navbar-expand-md navbar-light">
      <a class="navbar-brand" href="/">
        <object class="logo" data="/assets/logowithtext.svg" type="image/svg+xml">Merudite Logo</object>
      </a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNavDropdown">
        <ul class="navbar-nav ml-auto row">
          <li class="nav-item active align-self-center">
            <a class="nav-link" href="/">Home<span class="sr-only">(current)</span></a>
          </li>
          <li class="nav-item align-self-center">
            <a class="nav-link" href="/product">Product</a>
          </li>
          <li class="nav-item align-self-center">
            <a class="nav-link" href="/about">Team</a>
          </li>
          <li class="nav-item align-self-center">
            <a class="nav-link" href="/login">Log In</a>
          </li>
          <li class="nav-item align-self-center">
            <a class="nav-link" href="/register"><button type="button" class="btn btn-warning">Register</button></a>
          </li>
        </ul>
      </div>
    </nav>
  </header>
