</head>

<body class="hidden">
  <header>
    <!-- Navbar -->
    <nav class="navbar navbar-expand-md navbar-light">
      <a class="navbar-brand">
        <object class="logo" data="/assets/logowithtext.svg" type="image/svg+xml">Merudite Logo</object>
      </a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav ml-auto">
          <li class="nav-item">
            <a class="nav-link digest" href="/journey"><i class="fas fa-pen-nib"></i> Your Journey</a>
          </li>
          <li class="nav-item">
            <a class="nav-link journal" href="/journal"><i class="fas fa-book"></i> Journal</a>
          </li>
          <li class="nav-item">
            <a class="nav-link results" href="/results"><i class="fas fa-chart-pie"></i> My Results</a>
          </li>
          <li class="nav-item dropdown">
            <a class="nav-link account dropdown-toggle" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              <i class="fas fa-user-cog"></i> Account
            </a>
            <div class="dropdown-menu" aria-labelledby="navbarDropdown">
              <a class="dropdown-item" href="/account">Edit Details</a>
              <a class="dropdown-item logOut" href="/logout">Log Out</a>
            </div>
          </li>
        </ul>
      </div>
    </nav>
  </header>
