.footer {
  position: absolute;
  width: 100%;
}
object.footer_bg {
  position: relative;
  left: 0;
  top: 0;
  z-index: -1;
}
.footer_content {
  color: #FFF;
  position: relative;
  top: 30em;
  z-index: 2;
}
