body {
  color: #000080;
}
.divider {
  width: 150px;
}
.crossbar {
  width: 100%;
}
.logo {
  height: 50px;
}
.section_text {
  padding-top: 3em;
}
.pic {
  width: 100%;
}

.testimonials {
  height: 15em;
  background-color: ghostwhite;
  margin-bottom: 3em;
}

/* Footer styling */
.footer {
  position: absolute;
  width: 100%;
}
object.footer_bg {
  position: relative;
  z-index: -1;
}
.footer_content {
  color: #FFF;
  position: relative;
  height: 0;
  bottom: 30em;
  z-index: 2;
}
.footer_link{
  color: #FFF;
}
