
button.btn-warning {
  color: #000080;
  border-radius: 25px;
  background-color: #FFAB0D;
  border-color: #FFAB0D;
}
button.btn-warning:hover {
  color: #FFF;
  background-color: #000080;
  border-color: #000080;
}

ul.navbar-nav.ml-auto.row {
  margin-right: 2em;
}
